.title {

    &__container {
        text-align: center;
        font-size: 2rem;
        padding: 2rem;
        margin-bottom: 5rem;
        border-bottom: 1px solid #000;
    }

    &__main {
        font-family: 'Ibarra Real Nova', serif;
    }

}